<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- Navbar -->
  <section id="navbar" class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler mobileViewButton" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="true"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse d-lg-flex collapse justify-content-between text-center" id="navbarsExample11">
          <a class="navbar-brand col-lg-3 me-0 webViewPosition" href="#">
            <img class="rounded-circle" src="/Images/logo.jpeg" alt="logo" width="50px" height="50px" />
          </a>
          <ul class="navbar-nav col-lg-6 justify-content-lg-end" style="text-transform: capitalize">
            <li class="nav-item my-auto">
              <a class="nav-link active" aria-current="page" href="/dashboard">HOME</a>
            <li class="nav-item my-auto">
              <a class="nav-link active" aria-current="page" href="/profile">Update</a>
            </li>
            <li class="nav-item my-auto">
              <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item my-auto">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
            <li class="nav-item my-auto">
              <a style="text-transform: uppercase" class="nav-link" href="#">
                <%= n %>
              </a>
            </li>
            <li class="nav-item dropdown my-auto">
              <a href="#" class="nav-link d-block link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src=" <%= i.url %>" alt="mdo" width="40" height="40" class="rounded-circle" />
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
              </ul>
            </li>
            <li class="nav-item my-auto">
              <button class="btn btn-primary me-3 border-light">
                <a href="/logout" class="text-white" style="text-decoration: none">Log out</a>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- End Navbar -->
</body>

</html>